<ion-modal-view>
<!-- Content -->
<div ng-repeat="message in messages" ng-show="message{{message.id}}">
  <div class="list card">
    <div class="item item-avatar">
      <img ng-src="{{message.image}}?sz=40">
      <h2><b>{{message.fname}}</b></h2>
      <p><b>{{message.created_at | date :'MMMM d, yyyy'}}</b></p>
    </div>
    <div class="item item-body">
      <p>{{message.content}}</p>
      <div ng-if="message.type != 'Notif'">
        <div class="mark-complete" ng-if="message.type == 'Activity'"> &nbsp; &nbsp; Join Activity</div>
        <div class="mark-complete" ng-if="message.type == 'Task'">Mark Complete</div>
          <div class="checkbox">
            <input type="checkbox" />
            <label for="cb"></label>
          </div>
        </div>
      </div>
    <div class="item tabs tabs-secondary tabs-icon-left">
      <a class="tab-item" ng-click="closemessageDetailModal(message)">
        <i class="icon ion-chevron-left"></i>
        Back
      </a>
      <a class="tab-item" ng-click="deleteMessage(message)">
        <i class="icon ion-trash-b"></i>
        Delete
      </a>
    </div>
  </div>
</div>
</ion-modal-view>



