<ion-view view-title="Profile">
  <ion-header-bar class="bar-header bar-calm">
    <!-- <div class="buttons"> -->
      <i id="modalBackButton" class="ion-chevron-left icon" ng-click="closeProfileModal()"></i>
  <h1 class="title">Profile</h1>
  </ion-header-bar>

<ion-content class="profile">
<div class="row" id="profile-header">
  <div class="col col-100">
    <img id="profileImage" ng-src={{currentUserProfile.image}} />
  </div>
</div>
<div class="row">
  <div class="col col-100" id="profile-info">
    <h3>{{currentUserProfile.name}}</h3>
    <h4>{{currentUserProfile.email}}</h4>
  </div>
</div>
<div class="row" id="profile-icons">
  <div class="col col-33">
    <i class="ion-ios7-star"></i>
    59
  </div>
  <div class="col col-33">
    <i class="ion-ios7-chatbubble"></i>
    22
  </div>
  <div class="col col-33">
    <i class="ion-ios7-people"></i>
    80
  </div>
</div>
</ion-content>
</ion-view>
