<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive">


  <!-- Dashboard Tab -->
  <ion-tab title="Home" icon-off="ion-ios7-home-outline" icon-on="ion-ios7-home" href="#/tab/dash">
    <ion-nav-view name="tab-landing"></ion-nav-view>
  </ion-tab>

  <!-- Create Message Tab -->
  <ion-tab title="Message" icon-off="ion-ios7-email-outline" icon-on="ion-ios7-email-outline" href="#/tab/createmessages">
    <ion-nav-view name="tab-createmessages"></ion-nav-view>
  </ion-tab>

  <!-- Payments Tab -->
  <ion-tab title="Payments" icon-off="ion-social-usd" icon-on="ion-social-usd" href="#/tab/payments">
    <ion-nav-view name="tab-payments"></ion-nav-view>
  </ion-tab>


  <!-- Housemates Tab -->
  <ion-tab title="Housemates" icon-off="ion-ios7-people" icon-on="ion-ios7-people" href="#/tab/housemates">
    <ion-nav-view name="tab-housemates"></ion-nav-view>
  </ion-tab>

  <!-- Development Tab -->
  <ion-tab title="Development Testing" icon-off="ion-ios-flask-outline" icon-on="ion-ios-flask" href="#/tab/development">
    <ion-nav-view name="tab-development"></ion-nav-view>
  </ion-tab>
</ion-tabs>
