<ion-modal-view>
<ion-header-bar class="bar-header">
  <i id="modalBackButton" class="ion-chevron-left icon" ng-click="closefeedFilterModal()"></i>
  <h1 class="title">Filter:</h1>
</ion-header-bar>

<ion-content>
<ul class="list">
  <li class="item item-toggle">
   Activities
   <label class="toggle toggle-balanced">
     <input ng-model="Activity" ng-checked="Activity" type="checkbox">
     <div class="track">
       <div class="handle"></div>
     </div>
   </label>
 </li>

 <li class="item item-toggle">
   Notifications
   <label class="toggle toggle-balanced">
     <input ng-model="Notif" ng-checked="Notif" type="checkbox">
     <div class="track">
       <div class="handle"></div>
     </div>
   </label>
 </li>

 <li class="item item-toggle">
   Tasks
   <label class="toggle toggle-balanced">
     <input ng-model="Task" ng-checked="Task" type="checkbox">
     <div class="track">
       <div class="handle"></div>
     </div>
   </label>
 </li>
</ul>
  <div class='bottom'>
   <button class="button button-positive button-block modal-footer" ng-click="logout()">Logout</button>
  </div>
</ion-content>
</ion-modal-view>



