<ion-modal-view>
      <ion-header-bar class="bar-header">
        <!-- <div class="buttons"> -->
        <i id="modalBackButton" class="ion-chevron-left icon" ng-click="closeProfileDetailModal()"></i>
      </ion-header-bar>

      <ion-header-bar class="bar bar-subheader">
        <h1 ng-if="firstTab" class="title">Tasks Completed</h1>
        <h1 ng-if="secondTab" class="title">Messages Sent</h1>
        <h1 ng-if="thirdTab" class="title">Activities Attended</h1>
      </ion-header-bar>

      <ion-content class="profile">
        <div class="row" id="profile-icons">

          <div class="col col-33" ng-click="slideTo(1)">
             <!-- {{firstTab}} -->
            <i ng-class="{'ion-ribbon-a': 1==1, 'detail-icon-active': firstTab==true}"></i>
            <!-- Insert Tasks Count -->
          </div>
          <div class="col col-33">
             <!-- {{secondTab}} -->
            <i ng-click="slideTo(2)" ng-class="{'ion-chatbox': 1==1, 'detail-icon-active': secondTab==true}"></i>
            <!-- Insert Notif Count -->
          </div>
          <div class="col col-33">
             <!-- {{thirdTab}} -->
            <i ng-click="slideTo(3)" ng-class="{'ion-wineglass': 1==1, 'detail-icon-active': thirdTab==true}"></i>
            <!-- Insert Activities Count -->
          </div>
        </div>
      </ion-content>
  <ion-slide-box on-slide-changed="updateSelectedTab($index)">
    <ion-slide>
      <ion-content>
        <div class="row">
          <div class="col col-100">
            <div class="list">
              <div ng-repeat="message in messages | orderBy: 'created_at':true">
                <a class="item item-avatar {{message.type}} read-{{message.view.read}} removed-{{message.view.removed}}" ng-show="{{message.type}}" ng-if="message.type === 'Task' && message.user_id === currentUserProfile.id">
                <img ng-src="{{message.image}}?sz=40">
                <p>{{message.content}}</p>
                <p>{{message.created_at | date :'MMMM d, yyyy HH:mm:ss'}}</p>
                </a>
              </div>
            </div>
          </div>
        </div>
      </ion-content>
    </ion-slide>

    <ion-slide on-slide-changed="updateSelectedTab($index)">
      <ion-content>
        <div class="row">
          <div class="col col-100">
            <div class="list">
              <div ng-repeat="message in messages | orderBy: 'created_at':true">
                <a class="item item-avatar {{message.type}} read-{{message.view.read}} removed-{{message.view.removed}}" ng-show="{{message.type}}" ng-if="message.type === 'Notif' && message.user_id === currentUserProfile.id">
                <img ng-src="{{message.image}}?sz=40">
                <p>{{message.content}}</p>
                <p>{{message.created_at | date :'MMMM d, yyyy HH:mm:ss'}}</p>
                </a>
              </div>
            </div>
          </div>
        </div>
      </ion-content>
    </ion-slide>

    <ion-slide on-slide-changed="updateSelectedTab($index)">
      <ion-content>
        <div class="row">
          <div class="col col-100">
            <div class="list">
              <div ng-repeat="message in messages | orderBy: 'created_at':true">
                <a class="item item-avatar {{message.type}} read-{{message.view.read}} removed-{{message.view.removed}}" ng-show="{{message.type}}" ng-if="message.type === 'Activity' && message.user_id === currentUserProfile.id">
                <img ng-src="{{message.image}}?sz=40">
                <p>{{message.content}}</p>
                <p>{{message.created_at | date :'MMMM d, yyyy HH:mm:ss'}}</p>
                </a>
              </div>
            </div>
          </div>
        </div>
      </ion-content>
    </ion-slide>
</ion-slide-box>
</ion-modal-view>
