<ion-view view-title="Development">
<ion-content class="development">

	<section>
		<h3>House Controller</h3>
		<div ng-controller="HouseCtrl">
			<button class="button button-balanced" ng-click="clickToCreate()">Create House</button>
			<button class="button button-positive" ng-click="clickToGetHouse()">Get House</button>
		</div>
	</section>

	<section>
		<h3>User Controller</h3>
		<div ng-controller="UserCtrl">
			<button class="button button-positive" ng-click="clickToGetUsers()">Get Users</button>
		</div>
	</section>
</ion-content>
</ion-view>
