<ion-view view-title="Development">
<ion-content class="development">

<h1 class="title">House Controller</h1>
<div ng-controller='HouseCtrl'>
	<div class="row">
		<div class="col col-50">
			<button class="button button-balanced" ng-click="clickToCreate()">
				Create House
			</button>
		</div>
		<div class='col col-50'>
			<button class="button button-positive" ng-click="clickToGetHouse()">
				Get House
			</button>
		</div>
	</div>
</div>



<h1 class="title">User Controller</h1>
<div ng-controller="UserCtrl">
	<button class="button button-positive" ng-click="clickToGetUsers()">Get Users</button>
	<form ng-submit="getUser(userId)">
		<div class="list list-inset">
			<label class="item item-input">
				<input ng-model="userId" type="number" placeholder="User ID">
			</label>
			<label class="item item-submit">
				<input type="submit">
			</label>
			
		</div>
	</form>
</div>


<h1 class="title">Payment Controller</h1>
<div ng-controller="PaymentCtrl">
	<button class="button button-positive" ng-click="clickToGetPayments()">Get Payments</button>
	
	<form ng-submit="getPayment(paymentId)">
		<div class="list list-inset">
			<label class="item item-input">
				<input ng-model="paymentId" type="number" placeholder="Payment ID">
			</label>
			<label class="item item-submit">
				<input type="submit">
			</label>
			
		</div>
	</form>
</div>



</ion-content>
</ion-view>
