<ion-view view-title="Development">
<ion-content class="development">

<!-- HOUSE CONTROLLER -->
<h1 class="title">House Controller</h1>
<div ng-controller='HouseCtrl'>
	<div class="row">
		<div class="col col-50">
			<button class="button button-balanced" ng-click="clickToCreate()">
				Create House
			</button>
		</div>
		<div class='col col-50'>
			<button class="button button-positive" ng-click="clickToGetHouse()">
				Get House
			</button>
		</div>
	</div>
</div>

<!-- USER CONTROLLER -->
<h1 class="title">User Controller</h1>
<div ng-controller="HousemateCtrl">
	<button class="button button-positive" ng-click="clickToGetUsers()">Get Users</button>
	<form ng-submit="getUser(userId)">
		<div class="list list-inset">
			<label class="item item-input">
				<input ng-model="userId" type="number" placeholder="User ID">
			</label>
			<label class="submit">
				<input type="submit">
			</label>

		</div>
	</form>
</div>

<!-- PAYMENT CONTROLLER -->
<h1 class="title">Payment Controller</h1>
<div ng-controller="PaymentCtrl">
	<button class="button button-positive" ng-click="clickToGetPayments()">Get Payments</button>

	<form ng-submit="getPayment(paymentId)">
		<div class="list list-inset">
			<label class="item item-input">
				<input ng-model="paymentId" type="number" placeholder="Payment ID">
			</label>
			<label class="submit">
				<input type="submit">
			</label>

		</div>
	</form>
</div>

<!-- MESSAGE CONTROLLER -->
<h1 class="title">Message Controller</h1>
<div ng-controller="MessageCtrl">
	<button class="button button-positive" ng-click="clickToGetMessages()">Get Messages</button>

	<form ng-submit="getMessage(messageId)">
		<div class="list list-inset">
			<label class="item item-input">
				<input ng-model="messageId" type="number" placeholder="message ID">
			</label>
			<label class="submit">
				<input type="submit">
			</label>

		</div>
	</form>

	<form ng-submit="createMessage(message)">
		<div class="list list-inset">
			<label class="item item-input item-select">
				<div class="input-label">
					Message Type
				</div>
				<select ng-model="message.type">
					<option>Notif</option>
					<option>Task</option>
					<option>Activity</option>
				</select>
			</label>
			<label class="item item-input">
				<input ng-model="message.content" type="text" placeholder="Type your message here...">
			</label>
			<label class="item item-submit">
				<input type="submit">
			</label>
		</div>
	</form>
</div>
</ion-content>
</ion-view>
