#profileImage {
  border-radius: 50%;
  border: 3px solid #69708C;
}

.ion-ios7-paper, .ion-ios7-chatboxes, .ion-ios7-people {
  color: #0066FF;
}



#first-tab {
  border-bottom: 1px solid black;
}

.detail-icon-active {
  padding-bottom: 3px;
  border-bottom: .2em solid lightgray;
}

.slider-slides {
  padding-top: 5em;
  height: 41em;
  text-align: center;
}

.scroll {
  height: 100%;
}

.housemateImage {
  border-radius: 55px;
}

* {
  /*border: 1px dashed black;*/
}

.housemate{
  display: block;
}

.housemates {
  text-align: center;
}

#modalBackButton {
  font-size: 35px;
}

#profile-info {
  border-bottom: 1px solid black;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 5%;
}

.profile {
  text-align: center;
  color: black;
}

.profile h3 {
  color: black;
}

.profile i {
  font-size: 7vmin;
  display: block;
}

#welcome-button {
  margin: 300px auto;
  margin-left: 80px;
}

/*.Activity.unread {
  background-color: rgba(74,135,238,0.4);
}

.Task.unread {
  background-color: rgba(102,204,51,0.4);
}

.Notif.unread {
  background-color: rgba(67,206,230,0.4);
}


.Activity.read {
  background-color: rgba(74,135,238,0.1);
}

.Task.read {
  background-color: rgba(102,204,51,0.1);
}


.Notif.read {
  background-color: rgba(67,206,230,0.1);
}*/

/*.col_task {
  margin-right: 0px;
}
.col_notif {
  margin-left: 0px;
  margin-right: 0px;
}
.col_activity {
  margin-left: 0px;
}*/
.col {
  display: inline;
}

.removed-true {
  display: none;
}

.item-content {
  text-align: center;
  font-weight: bold;
}

#profileImage {
  width: 50%;
}

.unread-beacon.unread {
  position: absolute;
  right: 10px;
  bottom: 40px;
  color: blue;
  opacity: .6;
}

.unread-beacon.read {
  display: none;
}


.bottom {
  top: 280px;
  position: relative;
}
