#profileImage {
  border-radius: 50%;
  border: 3px solid #69708C;
}

* {
  /*border: 1px dashed black;*/
}

.housemate{
  display: block;
}

.housemates {
  text-align: center;
}

#modalBackButton {
  font-size: 35px;
}

#profile-info {
  border-bottom: 1px solid black;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 5%;
}

.profile {
  text-align: center;
  color: black;
}

.profile h3 {
  color: black;
}

.profile i {
  font-size: 7vmin;
  display: block;
}

#welcome-button {
  margin: 300px auto;
  margin-left: 80px;
}

.Activity.read-false {
  background-color: rgba(74,135,238,0.4);
}

.Task.read-false {
  background-color: rgba(102,204,51,0.4);
}

.Notif.read-false {
  background-color: rgba(67,206,230,0.4);
}

.Activity.read-true {
  background-color: rgba(74,135,238,0.1);
}

.Task.read-true {
  background-color: rgba(102,204,51,0.1);
}

.Notif.read-true {
  background-color: rgba(67,206,230,0.1);
}

.removed-true {
  display: none;
}


#profileImage {
  width: 50%;
}
